Elevate Assessment to Airtable.json
{
  "name": "Elevate Assessment to Airtable",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elevate-assessment",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "40844b0c-0a52-41d3-96fd-45d15f80631a",
      "name": "Assessment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        144,
        320
      ],
      "webhookId": "elevate-assessment-webhook"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apphclTM2sIJ5JOZk",
          "mode": "list",
          "cachedResultName": "AI Funnel - ElevateCannalogic ",
          "cachedResultUrl": "https://airtable.com/apphclTM2sIJ5JOZk"
        },
        "table": {
          "__rl": true,
          "value": "tblfKJ2xOUkYtOeJp",
          "mode": "list",
          "cachedResultName": "assesmentData",
          "cachedResultUrl": "https://airtable.com/apphclTM2sIJ5JOZk/tblfKJ2xOUkYtOeJp"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.name }}",
            "Email": "={{ $json.body.email }}",
            "Sex": "={{ $json.body.sex }}",
            "Weight": "={{ $json.body.weight }}",
            "Phone": "={{ $json.body.phone }}",
            "Age": "={{ $json.body.age }}",
            "Q1_Identity": "={{ $json.body.answerTexts.q1 }}",
            "Q2_InnerState": "={{ $json.body.answerTexts.q2 }}",
            "Q3_WhyNow": "={{ $json.body.answerTexts.q3 }}",
            "Q4_GrowthApproach": "={{ $json.body.answerTexts.q4 }}",
            "Q5_PlantOpenness": "={{ $json.body.answerTexts.q5 }}",
            "Q6_Consciousness": "={{ $json.body.answerTexts.q6 }}",
            "Q7_Commitment": "={{ $json.body.answerTexts.q7 }}",
            "Q8_Timeline": "={{ $json.body.answerTexts.q8 }}",
            "Total_Score": "={{ $json.body.totalScore }}",
            "Max_Score": "={{ $json.body.maxScore }}",
            "Source": "={{ $json.body.source }}",
            "UTM_Medium": "={{ $json.body.utm_medium }}",
            "UTM_Campaign": "={{ $json.body.utm_campaign }}",
            "Status": "={{ $json.body.status }}",
            "Readiness_Level": "={{ $json.body.readinessLevel }}",
            "Submitted_At": "={{ $json.body.submittedAt }}",
            "User_Agent": "={{ $json.body.userAgent }}",
            "Page_URL": "={{ $json.body.pageUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sex",
              "displayName": "Sex",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Male",
                  "value": "Male"
                },
                {
                  "name": "Female",
                  "value": "Female"
                },
                {
                  "name": "Other",
                  "value": "Other"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Weight",
              "displayName": "Weight",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Q1_Identity",
              "displayName": "Q1_Identity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Q2_InnerState",
              "displayName": "Q2_InnerState",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Q3_WhyNow",
              "displayName": "Q3_WhyNow",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Q4_GrowthApproach",
              "displayName": "Q4_GrowthApproach",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Q5_PlantOpenness",
              "displayName": "Q5_PlantOpenness",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Q6_Consciousness",
              "displayName": "Q6_Consciousness",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Q7_Commitment",
              "displayName": "Q7_Commitment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Q8_Timeline",
              "displayName": "Q8_Timeline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total_Score",
              "displayName": "Total_Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Max_Score",
              "displayName": "Max_Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Submitted_At",
              "displayName": "Submitted_At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "UTM_Medium",
              "displayName": "UTM_Medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "UTM_Campaign",
              "displayName": "UTM_Campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lead",
                  "value": "Lead"
                },
                {
                  "name": "Contacted",
                  "value": "Contacted"
                },
                {
                  "name": "Converted",
                  "value": "Converted"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Readiness_Level",
              "displayName": "Readiness_Level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "User_Agent",
              "displayName": "User_Agent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Page_URL",
              "displayName": "Page_URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4b8bd24b-c8db-4169-b397-d479ca6269a1",
      "name": "Save to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        400,
        320
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "D3zfCb5AbTtDxu10",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Assessment saved successfully', recordId: $json.id }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "94e880ae-7069-4724-9a3e-e169e09c8655",
      "name": "Send Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        656,
        320
      ]
    },
    {
      "parameters": {
        "content": "Assessment Flow",
        "height": 240,
        "width": 816
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        256
      ],
      "id": "7385747e-efb6-4695-aa36-475f26202b19",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Assessment Webhook": {
      "main": [
        [
          {
            "node": "Save to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Airtable": {
      "main": [
        [
          {
            "node": "Send Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2dec0b29-f619-4dd4-b429-8dc6be9a1111",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f58de6173fc8cd9829e18435a23c767f0cc40edbb439467a307bf20f894675b"
  },
  "id": "vXd1HGpyNS5KExGv",
  "tags": []
}