Update Address Webhook.json
{
    "name": "Update Address Webhook",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "update-address",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type"
                            }
                        ]
                    }
                }
            },
            "id": "address-webhook",
            "name": "Address Update Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                400,
                300
            ],
            "webhookId": "update-address-webhook"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "check-recordId",
                            "leftValue": "={{ $json.body.recordId }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "exists",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-recordId",
            "name": "Has Record ID?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                620,
                300
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "base": {
                    "__rl": true,
                    "value": "apphclTM2sIJ5JOZk",
                    "mode": "list",
                    "cachedResultName": "AI Funnel - ElevateCannalogic",
                    "cachedResultUrl": "https://airtable.com/apphclTM2sIJ5JOZk"
                },
                "table": {
                    "__rl": true,
                    "value": "tblfKJ2xOUkYtOeJp",
                    "mode": "list",
                    "cachedResultName": "assesmentData",
                    "cachedResultUrl": "https://airtable.com/apphclTM2sIJ5JOZk/tblfKJ2xOUkYtOeJp"
                },
                "id": "={{ $('Address Update Webhook').item.json.body.recordId }}",
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Address": "={{ $('Address Update Webhook').item.json.body.address }}",
                        "Pincode": "={{ $('Address Update Webhook').item.json.body.pincode }}",
                        "City": "={{ $('Address Update Webhook').item.json.body.city }}",
                        "State": "={{ $('Address Update Webhook').item.json.body.state }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "Address",
                            "displayName": "Address",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "string"
                        },
                        {
                            "id": "Pincode",
                            "displayName": "Pincode",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "string"
                        },
                        {
                            "id": "City",
                            "displayName": "City",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "string"
                        },
                        {
                            "id": "State",
                            "displayName": "State",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "update-airtable-address",
            "name": "Update Address in Airtable",
            "type": "n8n-nodes-base.airtable",
            "typeVersion": 2,
            "position": [
                840,
                200
            ],
            "credentials": {
                "airtableTokenApi": {
                    "id": "D3zfCb5AbTtDxu10",
                    "name": "Airtable Personal Access Token account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, message: 'Address updated successfully' }) }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "success-response",
            "name": "Success Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1060,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: false, error: 'Missing recordId' }) }}",
                "options": {
                    "responseCode": 400,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "error-response",
            "name": "Error Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                840,
                400
            ]
        },
        {
            "parameters": {
                "content": "## Update Address Webhook\n\nReceives address data from checkout modal and updates the Airtable record.\n\n**Required Airtable columns:**\n- Address (Long Text)\n- Pincode (Single Line Text)\n- City (Single Line Text)\n- State (Single Line Text)\n\nCreate these columns in Airtable if they don't exist.",
                "height": 220,
                "width": 340
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                380,
                80
            ],
            "id": "setup-note",
            "name": "Setup Instructions"
        }
    ],
    "pinData": {},
    "connections": {
        "Address Update Webhook": {
            "main": [
                [
                    {
                        "node": "Has Record ID?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Record ID?": {
            "main": [
                [
                    {
                        "node": "Update Address in Airtable",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Error Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Address in Airtable": {
            "main": [
                [
                    {
                        "node": "Success Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "address-update-v1",
    "meta": {
        "templateCredsSetupCompleted": false,
        "instanceId": "9f58de6173fc8cd9829e18435a23c767f0cc40edbb439467a307bf20f894675b"
    },
    "id": "address-update-workflow",
    "tags": []
}