VAPI Outbound Calling.json
{
    "name": "VAPI Outbound Calling",
    "nodes": [
        {
            "parameters": {
                "pollTimes": {
                    "item": [
                        {
                            "mode": "everyMinute"
                        }
                    ]
                },
                "base": {
                    "__rl": true,
                    "value": "apphclTM2sIJ5JOZk",
                    "mode": "list",
                    "cachedResultName": "AI Funnel - ElevateCannalogic",
                    "cachedResultUrl": "https://airtable.com/apphclTM2sIJ5JOZk"
                },
                "table": {
                    "__rl": true,
                    "value": "tblfKJ2xOUkYtOeJp",
                    "mode": "list",
                    "cachedResultName": "assesmentData",
                    "cachedResultUrl": "https://airtable.com/apphclTM2sIJ5JOZk/tblfKJ2xOUkYtOeJp"
                },
                "triggerField": "Submitted_At",
                "additionalFields": {
                    "viewId": ""
                }
            },
            "id": "airtable-trigger",
            "name": "New Assessment Trigger",
            "type": "n8n-nodes-base.airtableTrigger",
            "typeVersion": 1,
            "position": [
                400,
                300
            ],
            "credentials": {
                "airtableTokenApi": {
                    "id": "D3zfCb5AbTtDxu10",
                    "name": "Airtable Personal Access Token account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "check-phone",
                            "leftValue": "={{ $json.fields.Phone }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "exists",
                                "singleValue": true
                            }
                        },
                        {
                            "id": "check-status",
                            "leftValue": "={{ $json.fields.Status }}",
                            "rightValue": "Lead",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-valid-lead",
            "name": "Valid Lead Check",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                620,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.vapi.ai/call/phone",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"assistantId\": \"YOUR_VAPI_ASSISTANT_ID\",\n  \"phoneNumberId\": \"YOUR_VAPI_PHONE_NUMBER_ID\",\n  \"customer\": {\n    \"number\": \"+91{{ $json.fields.Phone.replace(/[^0-9]/g, '').slice(-10) }}\"\n  },\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"Name\": \"{{ $json.fields.Name }}\",\n      \"Email\": \"{{ $json.fields.Email }}\",\n      \"Phone\": \"+91{{ $json.fields.Phone.replace(/[^0-9]/g, '').slice(-10) }}\",\n      \"Total_Score\": \"{{ $json.fields.Total_Score }}\",\n      \"Max_Score\": \"{{ $json.fields.Max_Score }}\",\n      \"Readiness_Level\": \"{{ $json.fields.Readiness_Level }}\",\n      \"Q1_Identity\": \"{{ $json.fields.Q1_Identity }}\",\n      \"Q2_InnerState\": \"{{ $json.fields.Q2_InnerState }}\",\n      \"Q3_WhyNow\": \"{{ $json.fields.Q3_WhyNow }}\",\n      \"Q4_GrowthApproach\": \"{{ $json.fields.Q4_GrowthApproach }}\",\n      \"Q5_PlantOpenness\": \"{{ $json.fields.Q5_PlantOpenness }}\",\n      \"Q6_Consciousness\": \"{{ $json.fields.Q6_Consciousness }}\",\n      \"Q7_Commitment\": \"{{ $json.fields.Q7_Commitment }}\",\n      \"Q8_Timeline\": \"{{ $json.fields.Q8_Timeline }}\"\n    }\n  }\n}",
                "options": {}
            },
            "id": "vapi-outbound-call",
            "name": "VAPI Outbound Call",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                840,
                180
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "YOUR_VAPI_CREDENTIAL_ID",
                    "name": "VAPI API Key"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "base": {
                    "__rl": true,
                    "value": "apphclTM2sIJ5JOZk",
                    "mode": "list",
                    "cachedResultName": "AI Funnel - ElevateCannalogic",
                    "cachedResultUrl": "https://airtable.com/apphclTM2sIJ5JOZk"
                },
                "table": {
                    "__rl": true,
                    "value": "tblfKJ2xOUkYtOeJp",
                    "mode": "list",
                    "cachedResultName": "assesmentData",
                    "cachedResultUrl": "https://airtable.com/apphclTM2sIJ5JOZk/tblfKJ2xOUkYtOeJp"
                },
                "id": "={{ $('New Assessment Trigger').item.json.id }}",
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Status": "Contacted",
                        "Notes": "=Outbound call initiated at {{ $now.format('yyyy-MM-dd HH:mm') }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "Status",
                            "displayName": "Status",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "options",
                            "options": [
                                {
                                    "name": "Lead",
                                    "value": "Lead"
                                },
                                {
                                    "name": "Contacted",
                                    "value": "Contacted"
                                },
                                {
                                    "name": "Converted",
                                    "value": "Converted"
                                }
                            ]
                        },
                        {
                            "id": "Notes",
                            "displayName": "Notes",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "update-airtable-status",
            "name": "Update Status to Contacted",
            "type": "n8n-nodes-base.airtable",
            "typeVersion": 2,
            "position": [
                1060,
                180
            ],
            "credentials": {
                "airtableTokenApi": {
                    "id": "D3zfCb5AbTtDxu10",
                    "name": "Airtable Personal Access Token account"
                }
            }
        },
        {
            "parameters": {
                "content": "## VAPI Outbound Calling Workflow\n\n1. Triggers on new Airtable assessment entries\n2. Checks if valid lead (has phone, status = Lead)\n3. Calls VAPI API to initiate outbound call\n4. Updates Airtable status to 'Contacted'\n\n**SETUP REQUIRED:**\n- Replace YOUR_VAPI_ASSISTANT_ID\n- Replace YOUR_VAPI_PHONE_NUMBER_ID\n- Create HTTP Header Auth credential with VAPI API key",
                "height": 280,
                "width": 400
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                380,
                80
            ],
            "id": "setup-note",
            "name": "Setup Instructions"
        },
        {
            "parameters": {
                "content": "## Skip Invalid Leads\n\nLeads without phone or already contacted are skipped.",
                "height": 100,
                "width": 280
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                600,
                480
            ],
            "id": "skip-note",
            "name": "Skip Note"
        }
    ],
    "pinData": {},
    "connections": {
        "New Assessment Trigger": {
            "main": [
                [
                    {
                        "node": "Valid Lead Check",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Valid Lead Check": {
            "main": [
                [
                    {
                        "node": "VAPI Outbound Call",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "VAPI Outbound Call": {
            "main": [
                [
                    {
                        "node": "Update Status to Contacted",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "vapi-outbound-v1",
    "meta": {
        "templateCredsSetupCompleted": false,
        "instanceId": "9f58de6173fc8cd9829e18435a23c767f0cc40edbb439467a307bf20f894675b"
    },
    "id": "vapi-outbound-workflow",
    "tags": []
}